@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  display: flex;
  background-image: url('../public/waves.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
}

.card {
  height: 500px;
  width: 500px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  overflow: hidden;
  margin: 10px;
}

.header {
  width: 100%;
  height: 33%;
  /* border: solid black 1px; */
  background-image: url(../public/palm-tree.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px 75%;
}

.main {
  width: 100%;
  height: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  /* padding-bottom: 70px; */
  gap: 10px;
}

#profile-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: white 2px solid;
  transition: all 1s ease;
}

.frame {
  position: absolute;
  /* top: -40px; */
  margin-bottom: 180px;
}

#profile-image:hover {
  transform: translateY(-7px);
}

#age {
  font-size: 2rem;;
}

.footer {
  width: 100%;
  height: 33%;
  /* border: solid black 1px */
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-top: 0.1px solid lightgray;
}

.stats {
  transition: all 1s ease;
}

.stats:hover {
  transform: translateY(-10px);
}

.lightText {
  font-weight: 100;
  font-size: 1.5rem;
}

@media only screen and (max-width: 800px){
  .App, #age {
    font-size: 1.5rem;
  }

  .lightText {
    font-size: 1rem;
  }
}